/* Estilo básico para o site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

.intro {
    text-align: center;
}

.foto-perfil {
    max-width: 200px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Torna a imagem circular, se desejar */
    margin: 20px 0;
}
